<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons> 
    <ion-title>Histórico Chat</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of lista | async">
      
      <p>Usuário: {{item.usuario}} </p>
      <p>Mensagem: {{item.texto}}</p>
      <ion-note item-right>
        {{item.data | date:'HH:mm'}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
-->

<ion-content>
  <ion-list inset>
    <button ion-item *ngFor="let item of lista | async" (click)="seleciona(item)">
      {{ item.data }}
    </button>
  </ion-list>
</ion-content>